*{
    box-sizing: border-box;
}
img{
    display: block;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    font-weight: regular;
    letter-spacing: 0.02em;
    background-color: #ffffff;
    margin:0;
  }

  h1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
  }
  h2 {
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
  }
  h3 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
  }
  a {
    font-size:12px;
    text-decoration: underline;
    margin-right: 76px;
  }
  ol, ul  {
    list-style-type: none;    
  }
  .section{
    padding: 188px 0;
    width: 100%;
  }
  .container{
    width: 1158px;
    margin: 0 auto;
    flex-direction: column;
  }
  .main-header{
    border-bottom: 1px solid #e7e9fc;
  }
  .header {
    border-bottom: 1px solid #e7e9fc;
    display: flex;
    align-items: center;
  }
  .header-container{
    display: flex;
    padding: 0 15px;
  }
  .menu{
    display: flex;
    gap: 40px;
  }
  .menu-list-item{
    padding: 24px 0;
  }
  .contact{
    display: flex;
    gap: 40px;
  }

  footer {
    background-color: #2e2f42;
  }
  address {
    font-style: normal;
  }
  .contact-list {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: regular;
  }
  .contact-list:hover {
    color: #404bbf;
  }
  .contact-list:focus {
    color: #404bbf;
  }
  .webstudio-button {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
  }
  .webstudio-button:hover {
    background-color: #404bbf;
  }
  .webstudio-button:focus {
    background-color: #404bbf;
  }
  .header-menu {
    color: #2e2f42;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
  }
  .header-menu:hover {
    color: #404bbf;
  }
  .header-menu:focus {
    color: #404bbf;
  }
  .title {
    font-weight: bold;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 2%;
  }
  .webstudio {
    background-color: #2e2f42;
  }
  .our-content-text {
    letter-spacing: 0.02em;
    color: #434455;
  }
  .ourportfolio-text {
    letter-spacing: 0.02em;
    color: #434455;
  }
  .header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
  }
  .footer-text {
    color: #f4f4fd;
    letter-spacing: 0.02em;
  }
  .ourportfolio-subtitle {
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
  }
  .ourteam-list {
    background-color: #ffffff;
  }
  .ourteam {
    background-color: #f4f4fd;
  }
  .header-logo .header-logo-second {
    color: #2e2f42;
  }
  span {
    color: #2e2f42;
  }
  header {
    background-color: #e7e9fc;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
  }

  /* footer*/

  .footer{
    background-color: #2E2F42;
    font-family: "Raleway",sans-serif;
    letter-spacing: 17.33;
    padding: 100px 0;
  }
  .footer-information{
    width: 264px;
  }
  .footer-text{
    color:#F4F4FD;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    max-width: 264px;
  }
  .footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    color: #4d5ae5;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
    text-decoration: none;
  }
  .footer-logo-second {
    color: #f4f4fd;
  }

  